.idea
node_modules
# Keep environment variables out of version control
.env
service-account.json
.npmrc

cicd/development/mysql/.data
lib/zod-follow/schemas
lib/zod-follow/apis.ts
lib/zod-follow/dist
lib/zod-follow/package.json
dist
